/* 
 * Footer
 * 
 * @package sasskit
 */


.site-footer {
  margin-top: $base_line_height * 2;
}


.footer__main{
  @include type-setting(-1);

  font-weight: $light;
  background-color: $gray_darker;
  padding-top: $base_line_height * 2;
  padding-bottom: $base_line_height * 3;
  color: $white;
}


  .footer__main__infos {
    strong {
      text-transform: uppercase;
    }
  }

  .footer__main__newsletter {

    input[type="email"] {
      @include type-setting(0);
      padding-left: $base_line_half;
      color: $white;
    }
    input[type="submit"] {
      @include type-setting(-1);
      padding-left: $base_line_half;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .footer__main__menu {
    li:last-child {
      background-color: $black;
    }
  }





#events-modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    right: 0; 
    bottom: 0; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8);
    overflow-y: scroll;
}


/* Modal Content/Box */
.modal__content {
    background-color: $white;
    margin: 0;
    padding: $base_line_height * 2 0 0;
    border: 1px solid #888;
}

/* The Close Button */

  .close-events {
    background-image: url("assets/bouton_close_map.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    float: right;
    margin-top: $base_line_height * 1.75;
  }