/* 
 * Footer
 * 
 * @package sasskit
 */


.site-footer {
  margin-top: $base_line_height * 2;
}

.footer__sub {
  background-color: $gray;
}



.footer__main{
  background-color: $gray_darker;
  padding-top: $base_line_height * 2;
  padding-bottom: $base_line_height * 3;
  color: $white;
}

  .footer__main__newsletter {

  }

  .footer__main__menu {
    
  }





#events-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    overflow-y: scroll;
}


/* Modal Content/Box */
.modal__content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
}

/* The Close Button */
#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
