/* 
 * Footer
 * 
 * @package sasskit
 */


.site-footer {
  margin-top: $base_line_height * 2;
}

.footer__sub {
  background-color: $gray;
}



.footer__main{
  background-color: $gray_darker;
  padding-top: $base_line_height * 2;
  padding-bottom: $base_line_height * 3;
  color: $white;
}

  .footer__main__newsletter {

  }

  .footer__main__menu {
    
  }