/* 
 * Set up general & particulars modules : headers, contents, footers
 * 
 * @package sasskit
 *
 */



.module-grid {
  background-color: $gray_lighter;
  padding-top: $base_line_height * 2;
  padding-bottom: $base_line_height * 2;
  margin-top: $base_line_height * 2;
  margin-bottom: $base_line_height * 2;
}

  .grid__row:not(:last-child) {
    margin-bottom: $base_line_height * 2;

    @include up-to(medium) {
      margin-bottom: 0;
    }
  }

    %grid__item {
      border-top: 20px solid;

      &.square__content,
      .square__content {
        padding: 1.4em;
      }

      &.even {
        float: right;
      }

      .grid__item__img {
        padding: 0;

        img {
          display: block;
        }
      }

      h3.h3 {
        margin-bottom: $base_line_height;
      }
    
      .a--inline {
        color: inherit;
      }

      .arrow--little--black {
        margin-right: $base_line_half / 2;
      }

      @include up-to(medium) {
        margin-bottom: $base_line_half;
      }
    }




    .grid__item--page {
      @extend %grid__item;

      border-color: $black;
      background-color: $color_secondary;
      color: $white;
    }


    .grid__item--post {
      @extend %grid__item;

      .square__content {
        background-color: $white;
      }
      .has-bordertop--little:before {
        border-color: $black;
      }    
    }


    .grid__item--weekend {
      @extend %grid__item;

      color: $white;

      .grid__item__img {
        position: relative;
      }
      
      .arrow--medium--black {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      .h3 {
        text-transform: uppercase;
      }

      .square__content {
        background-color: $black;
      }
    }

    .grid__item--big {
      @extend %grid__item;

      border-color: $black;
      color: $white;

      .arrow--medium--white {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      .square {
        background-color: $black;
      }
    }


    .grid__item--text {
      @extend %grid__item;

      .square__content {
        background-color: $white;
      }

      .has-bordertop--little:before {
        border-color: $black;
      }
    }


    .grid__item--btn {
      @extend %grid__item;

      color: $white;
      border-color: $black;

      .square__content {
        background-color: $color_secondary;
      }
    }

    .grid__item--affiche {
      @extend %grid__item;
      border: none;
      
    }


