/* 
 * Set up general & particulars modules : headers, contents, footers
 * 
 * @package sasskit
 *
 */



.module-grid {
  background-color: $gray_lighter;
  padding-top: $base_line_height * 2;
  padding-bottom: $base_line_height * 2;
  margin-top: $base_line_height * 2;
  margin-bottom: $base_line_height * 2;
}

  .grid__row:not(:last-child) {
    margin-bottom: $base_line_height * 2;
  }

    %grid__item {
      border-top: 20px solid;

      &.square__content,
      .square__content {
        padding: 1em;
      }

      &.even {
        float: right;
      }
    }



    .grid__item--page {
      @extend %grid__item;

      border-color: $black;
      background-color: $color_secondary;
      color: $white;
    }


    .grid__item--post {
      @extend %grid__item;

      .square__content {
        background-color: $white;
      }
      .has-bordertop--little:before {
        border-color: $black;
      }    
    }


    .grid__item--weekend {
      @extend %grid__item;

      border-color: $color_secondary;
      color: $white;

      .square__content {
        background-color: $black;
      }
    }

    .grid__item--big {
      @extend %grid__item;

      border-color: $black;
      color: $white;

      .square {
        background-color: $black;
      }
    }


    .grid__item--text {
      @extend %grid__item;

      .square__content {
        background-color: $white;
      }

      .has-bordertop--little:before {
        border-color: $black;
      }
    }


    .grid__item--btn {
      @extend %grid__item;

      color: $white;
      border-color: $black;

      .square__content {
        background-color: $color_secondary;
      }
    }

    .grid__item--affiche {
      @extend %grid__item;
      border: none;
      
    }


