/* 
 * Header
 * 
 * @package sasskit
 */


.site-header {
  padding-top: 2em;
  padding-bottom: 2em;
}



.site-branding--little {
  line-height: 0.1;
  padding-right: 2em;

  a {
    display: block;
  }
} 