/* 
 * Header
 * 
 * @package sasskit
 */


.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  padding-top: 0.5em;
  padding-bottom: 0;
  background-color: $white;
  opacity: 0.98;

  @include transition(all, 0.2s);

  &.is-reduced {
    padding-top: 0.5em;
    padding-bottom: 0;
  }

  @include up-to(medium) {
    padding-top: 0;
    opacity: 0.99;
    
    &.is-reduced {
      padding-top: 0;
      padding-bottom: 0.5em;
    }
  }
}

.site-branding--big {
  margin-bottom: $base_line_height;
}


.site-branding--little {
  line-height: 0.1;
  padding-right: 2em;
  margin-top: -4px;
  min-height: 34px;  
  
  a {
    display: block;
  }

  @include up-to(medium) {
    padding: 0.5em 0;
    min-height: auto;
  }
} 

  .home .site-logo--little {
    display: none;
  }