/* 
 * Module Map
 * 
 * @package sasskit
 */


.module-map {
  display: none;
}


.map-outer {
  position: relative;
  height: 650px;
}

  .map-inner {
    width: 100%;
    height: 100%;
    border: none;
    margin: 20px 0;
  }


  // MAP MODAL

  .map__modal {
    display: none;
    position: absolute;
    left: 4.16667%;
    top: $base_line_height;
    bottom: $base_line_height;
    width: 25%;
    background-color: $black;
    color: $white;
    padding: 0;

    @include up-to(medium) {
      left: 0;
      width: 50%;
      top: 50%;
      bottom: 0;
    }
  }

    .modal__close {
      position: absolute;
      font-weight: $light;
      right: - $base_line_height * 0.75;
      top: 0;
      width: $base_line_height * 0.75;
      height: $base_line_height * 0.75;
      background-color: $black;
      color: $white;
      line-height: $base_line_height * 0.75;
      text-align: center;

      .close-events {
          background-size: $base_line_height * 0.75 $base_line_height * 0.75;
          width: $base_line_height * 0.75;
          height: $base_line_height * 0.75;
          margin-top: 0;
      }
    }


    .map__modal__content {
      border-top: $base_line_height * 0.75 solid $color_primary;

      .modal__img {
        max-height: 130px;
        margin-bottom: $base_line_height;
        background-color: $black;
        
        img {
          display: block;
          margin: auto;
          height: 130px;
          width: auto;
        }
      }

      .modal__texts {
        padding: 0 $base_line_height;
      }

      h3.h3 {
        text-transform: uppercase;
        margin-bottom: $base_line_half / 2;
      }

      .h6 {
        margin-bottom: $base_line_height;
      }

      p {
        margin-bottom: 0;
      }

      .modal__dates,
      .modal__intro {
        margin-bottom: $base_line_half;
      }

      .modal__adress {
        padding-left: $base_line_half / 2;
      }

      .modal__btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $base_line_height * 2.5;
        padding: $base_line_half $base_line_height $base_line_height $base_line_height;
        line-height: $base_line_half;
        background-color: $color_primary;
      }
      
      
      .arrow--little--white {
        float: left;
        margin-right: $base_line_half;
      }
      .a--inline {
        float: left;
        color: $white;
      }

    } 

