/* 
 * Module Map
 * 
 * @package sasskit
 */





.map-outer {
  position: relative;
  height: 600px;
}

  .map-inner {
    width: 100%;
    height: 100%;
    border: none;
    margin: 20px 0;
  }


  // MAP MODAL

  .map__modal {
    display: none;
    position: absolute;
    left: 4.16667%;
    top: $base_line_height;
    bottom: $base_line_height;
    width: 25%;
    background-color: $black;
    color: $white;
    padding: 0;
  }

    .modal__close {
      position: absolute;
      font-weight: $light;
      right: - $base_line_height * 0.75;
      top: 0;
      width: $base_line_height * 0.75;
      height: $base_line_height * 0.75;
      background-color: $black;
      color: $white;
      line-height: $base_line_height * 0.75;
      text-align: center;
    }


    .map__modal__content {
      border-top: $base_line_height * 0.75 solid $color_primary;

      .modal__img {
        max-height: 130px;
        margin-bottom: $base_line_height;
        background-color: $white;
        
        img {
          display: block;
          margin: auto;
          height: 130px;
          width: auto;
        }
      }

      .modal__texts {
        padding: 0 $base_line_height;
      }

      h2 {
        text-transform: uppercase;
        margin-bottom: $base_line_half;
      }

      h3 {
        @include type-setting(0);
        font-weight: $medium;
      }

      p {
        line-height: $base_line_half;
        margin-bottom: 0;
      }

      .modal__dates,
      .modal__intro {
        margin-bottom: $base_line_half;
      }

      .modal__adress {
        font-weight: $light;
        padding-left: $base_line_half;
      }

      .modal__btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $base_line_height * 2.5;
        padding: $base_line_half $base_line_height $base_line_height $base_line_height;
        line-height: $base_line_half;
        background-color: $color_primary;
      }
    } 

