/* 
 * 
 * @package sasskit
 *
 */



.news-group {
  background-color: $gray_lighter;
  padding-top: $base_line_height * 2;
  padding-bottom: $base_line_height * 2;
  margin-top: $base_line_height * 2;
  margin-bottom: $base_line_height * 2;  
}

  .news__main {

    .news_excerpt {
      padding-left: $base_line_height;
    }

  }

  .news__list {

    .news__item:nth-child(even) {
      @extend .m-last;
    }
    .news__item:nth-child(odd) {
      @extend .clearfix;
    }
  }

    .news__item {
      margin-bottom: $base_line_height * 2;  

      &:before {
        content: '';
        display: block;
        width: $base_line_height * 1.75;
        height: $base_line_half;
        background-color: $gray_darker;
      }

      .has-bordertop--little:before {
        border-color: $black;
        margin-bottom: $base_line_half;
      }

      h3 {
        margin-bottom: 0;
        margin-top: $base_line_half / 2;
      }
      p {
        margin-bottom: $base_line_half / 2;
      }
    }

      .news__item__img--big {
        height: $base_line_height * 15;
        width: auto;
        margin-bottom: $base_line_height;

        img {
          display: block;
          max-height: 100%;
          width: auto;
        }
      }

      .news__item__img--little {
        @extend .news__item__img--big;

        height: $base_line_height * 8;
      }


      .news_excerpt {
        font-weight: $light;
      }




.module-stream {

}

  .stream__item {
    border-top: 10px solid $color_primary;
    background-color: $white;
    padding: $base_line_height;

    .has-bordertop--little::before {
      border-color: $black;
    }
    
    @include up-to(medium) {
      width: 50%;
      float: left;
      
    }

  }



