/* 
 * Sidebar
 * 
 * @package sasskit
 */



.module-partners {

  background-color: $gray_lighter;
  padding-top: $base_line_height * 2;
  padding-bottom: $base_line_height * 2;
  opacity: 0.98;

  .h2 {
    border-bottom: 1px solid $gray_light;
    padding-bottom: $base_line_height;
    display: block;
    font-weight: $medium;
    margin-bottom: $base_line_height;
  }
}
