




.event__rebonds {
  background-color: $gray_lighter;
  padding: $base_line_height * 2 0;
  margin-bottom: $base_line_height * 2;

  .h2 {
    font-weight: $medium;
    margin-bottom: $base_line_height;
  }

  .h3 {
    margin-bottom: $base_line_height;
  }

  .h5 {
    margin-top: - $base_line_height;
    margin-bottom: $base_line_height;
  }

  .rebonds__item {
    margin-bottom: $base_line_height;
    border-top: $base_line_half solid $black;
    padding: 1.4em;
    background-color: $white;

    .arrow--little--black {
      margin-right: $base_line_half;
    }

    @include up-to(medium) {

      &:nth-child(odd) {
        clear: both !important;
        left: 0;
      }
      &:nth-child(even) {
        left: 4.16667%;
        position: relative;
        right: auto;
      }
      &.clearfix {
        clear: none;
      }
    }

  }
    .rebonds__chapo {
      margin-bottom: $base_line_half;
    }

  .has-bordertop--big:before {
    width: 100%;
  }

  .has-bordertop--little:before {
    border-color: $black;
  }
}
  .rebonds__place__name {
    margin-bottom: 0;
  }

