/* 
 * Sidebar
 * 
 * @package sasskit
 */



.search__outer {
  display: none;
  position: relative;
  background-color: $gray_lighter;
  padding: $base_line_height 0;
  margin-top: $base_line_height;

  .search-container {
    position: relative;
  }

  .close-events {
    position: absolute;
    top: -70px;
    margin-top: 0px;
    right: 0px;
  }
}

    .loading-msg {
      @include transition(all, 0.2s);
    
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $white;
      opacity: 0.95;
    }  
    .globalsearch-msg {
      padding-left: 5%;
    }


  .search__list {

    .has-bordertop--little:before {
      border-color: $black;
    }
  }

    .search__item {
      margin-bottom: $base_line_half;
    }