/* 
 * templates/event
 * 
 * @package sasskit
 */




.event__single {


  .event__id {
    display: none;
    color: $white;
    padding-bottom: 0.5em;
  }
    .event__id__titles {
      .id__artist {
        text-transform: uppercase;
      }
      .id__title {
        font-weight: $light;
      }
    }

    .event__id__place {
      text-align: right; 
    }
      .id__place {
        font-weight: $light;
        padding-right: $base_line_half;
      }
      .id__date {
        padding-left: $base_line_half;
      }

  .event__summary {
    @include transition(all, 0.2s);
    @include type-setting(-1);

    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
  
    padding: $base_line_half 0;
    background-color: $black;

    ul {
      height: $base_line_half * 1.25;
      line-height: $base_line_half * 1.25;
    }

    .arrow--little--white {
      float: left;
    }

    .summary__item {

      display: inline-block;
      float: left;
      border-right: 1px solid $white;
      text-transform: uppercase;
      padding: 0 1em;
      margin: 0;
      
      &:last-child {
        border: none;
      }

      a {
        color: $white;
      }
    }

    &.is-reduced {
      top: 89px;
      padding: $base_line_half / 2 0;

      @include up-to(medium) {
        top: 59px;
      }
    }

  }



  .event__header {
    @include transition(all, 0.2s);

    background-image: url('assets/img/event_bg.png');
    padding: $base_line_height * 1.5 0;
    color: $white;

    .h1 {
      text-transform: uppercase;
    }
    .h2 {
    }
    .h5 {
    }

    p:not(.h5) {
      margin-bottom: 0;
    }

    .has-bordertop--little::before {
      border-color: $white;
    }
  }
    .event__header__inner {
      padding-top: 60px;
    }
      .header__titles {
        margin-bottom: $base_line_height;
      }

  .event__short {
    text-align: right;
  }


  .event__curators {
    background-color: $gray_lighter;
    text-align: center;
    padding: $base_line_height;
    margin-bottom: $base_line_height * 2;
  }


  .event__main {
    margin-bottom: $base_line_height * 2;

    @include up-to(medium) {
      margin-bottom: $base_line_height;
    }
  }


  .event__extract {
    margin-bottom: $base_line_height;
  }

    .event__text {

      p {
        width: 75%;
        margin-bottom: $base_line_height;
        @extend .clearfix;

        @include up-to(medium) {
          width: 100%;
        }
      }

      figure {
        margin-bottom: $base_line_height;
        float: left;
      }

      figcaption {
        width: 25%;
        float: right;
        text-align: right;

        p {
          width: 100%;
          @extend .p--smaller;

          strong {
            @extend .p;
            color: $black;
          }
        }
      }

      @include up-to(medium) {
        margin-bottom: $base_line_height;
      }
    }


  .event__dates {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 1.4em;
    margin-bottom: $base_line_height;
  }

  .event__place {
    background-color: $gray_lighter;
    border-top: $base_line_half solid $black;
    padding: 1.4em;
    margin-bottom: $base_line_height;

    .h3 {
      margin-bottom: $base_line_height;
      text-transform: uppercase;
    }

    h5 {
      margin-bottom: $base_line_half;
    }

    p {
      margin-bottom: 0;
    }

    .has-bordertop--little::before {
      border-color: $black;
    }

    .place__details {
      margin-top: $base_line_half;
    }
  }


  .event__map {
    background-color: $gray_lighter;
    border-top: $base_line_half solid $black;

    .h3 {
      margin-bottom: 0;
      text-transform: uppercase;
      padding: 1.4rem 1.4rem 0 1.4rem;
    }

    h5 {
      margin-bottom: 0;
      padding: 1.4rem 1.4rem 0 1.4rem ;
    }

    .map-outer {
      height: 250px;
    }
    
    .map-inner {
      margin: 0;
    }

    .has-bordertop--little {
      padding: 1.4rem 1.4rem 0 1.4rem ;

      &::before {
        border-color: $black;
      }
    }

  }
    .event__map__inner {
    }

}




