/* 
 * templates/event
 * 
 * @package sasskit
 */




.event__single {




  .event__header {
    background-image: url('assets/img/event_bg.png');
    padding: $base_line_height * 1.5 0;

    color: $white;

    .h1 {
      text-transform: uppercase;
    }
    .h2 {
      margin-bottom: $base_line_height;
    }

    p:not(.h5) {
      margin-bottom: 0;
    }

    .has-bordertop--little::before {
      border-color: $white;
    }
  }


  .event__short {
    text-align: right;
  }


  .event__curators {
    background-color: $gray_lighter;
    text-align: center;
    padding: $base_line_height;
    margin-bottom: $base_line_height * 2;
  }


  .event__main {

  }

  .event__dates {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 1.4em;
    margin-bottom: $base_line_height;
  }

  .event__place {
    background-color: $gray_lighter;
    border-top: $base_line_half solid $black;
    padding: 1.4em;
    margin-bottom: $base_line_height;

    .h3 {
      margin-bottom: $base_line_height;
      text-transform: uppercase;
    }

    h5 {
      margin-bottom: $base_line_half;
    }

    p {
      margin-bottom: 0;
    }

    .has-bordertop--little::before {
      border-color: $black;
    }

    .place__details {
      margin-top: $base_line_half;
    }
  }

  .event__map {
    background-color: $gray_lighter;
    border-top: $base_line_half solid $black;
    padding: 1.4em;

  }

}




