/* 
 * templates/event
 * 
 * @package sasskit
 */




.event__single {




  .event__header {
    background-image: url('assets/img/event_bg.png');
    padding: $base_line_height * 1.5 0;

    color: $white;

    .h1 {
      text-transform: uppercase;
    }
    .h2 {
      margin-bottom: $base_line_height;
    }

    p:not(.h5) {
      margin-bottom: 0;
    }

    .has-bordertop--little::before {
      border-color: $white;
    }
  }


  .event__short {
    text-align: right;
  }


  .event__curators {
    background-color: $gray_lighter;
    text-align: center;
    padding: $base_line_height;
    margin-bottom: $base_line_height * 2;
  }


  .event__main {
    margin-bottom: $base_line_height * 2;

  }

  .event__extract {
    margin-bottom: $base_line_height;
  }

    .event__text {

      p {
        width: 60%;
        margin-bottom: $base_line_height;
        @extend .clearfix;
      }

      figure {
        margin-bottom: $base_line_height;
        float: left;
      }

      figcaption {
        width: 30%;
        float: right;
        text-align: right;

        p {
          width: 100%;
          @extend .p--smaller;

          strong {
            @extend .p;
            color: $black;
          }
        }
      }
    }


  .event__dates {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 1.4em;
    margin-bottom: $base_line_height;
  }

  .event__place {
    background-color: $gray_lighter;
    border-top: $base_line_half solid $black;
    padding: 1.4em;
    margin-bottom: $base_line_height;

    .h3 {
      margin-bottom: $base_line_height;
      text-transform: uppercase;
    }

    h5 {
      margin-bottom: $base_line_half;
    }

    p {
      margin-bottom: 0;
    }

    .has-bordertop--little::before {
      border-color: $black;
    }

    .place__details {
      margin-top: $base_line_half;
    }
  }

  .event__map {
    background-color: $gray_lighter;
    border-top: $base_line_half solid $black;

    .h3 {
      margin-bottom: $base_line_height;
      text-transform: uppercase;
    }

    h5 {
      margin-bottom: $base_line_half;
    }

    .map-outer {
      height: 250px;
    }
    
    .map-inner {
      margin: 0;
    }

    .has-bordertop--little::before {
      border-color: $black;
    }

  }
    .event__map__inner {
      padding: 1.4em;
    }



  .event__rebonds {
    background-color: $gray_lighter;
    padding: $base_line_height 0;
    margin-bottom: $base_line_height * 2;

    .h2 {
      font-weight: $medium;
      margin-bottom: $base_line_height;
    }

    .h3 {
      margin-bottom: $base_line_height;
    }

    .rebonds__item {
      margin-bottom: $base_line_height;
      border-top: $base_line_half solid $black;
      padding: 1.4em;
      background-color: $white; 
    }

    .has-bordertop--big:before {
      width: 100%;
    }

    .has-bordertop--little:before {
      border-color: $black;
    }
  }


}




