/* 
 * templates/home
 * 
 * @package sasskit
 */


.home {
  background-image: url(assets/img/grid_bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;

    .module-grid {
      background: none;
    }
}


.edition__mobile {
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.98);
  padding: 3rem 0 1rem;
  margin-top: $base_line_height * 2; 

  span {
    margin-right: $base_line_height;
  }

}