/* 
 * templates/single
 * 
 * @package sasskit
 */


.page__header {
  margin-top: $base_line_height * 2;
  margin-bottom: $base_line_height;
}

.entry__media {
  height: 450px;
  
}

.entry__header {
  text-align: center;
  margin-top: $base_line_height;
  margin-bottom: $base_line_height * 2;
}

.entry__excerpt {
  @include type-setting(1);
  margin-top: $base_line_height;

  p {
    font-size: inherit;
    line-height: inherit;
  }
}

.entry__content {
  
  margin-bottom: $base_line_height * 2; 

  p:first-child {
    @extend .p--big;
  }
}