/* 
 * Set up specific templates : home, single...
 * 
 * @package sasskit
 *
 */


html,
body {
  height: 100%;
}

#page {
  padding-top: 118px;

  @include up-to(medium) {
    padding-top: 88px;
  }
}

  .map_fulscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .map-outer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
    }
    .map-inner {
      margin: 0;
    }

    .close-map {
      background-image: url("assets/bouton_close_map.png");
      background-repeat: no-repeat;
      display: inline-block;
      float: right;
      background-size: 40px 40px;
      width: 40px;
      height: 40px;
      z-index: 999;
      position: relative;
      margin-top: 20px;
    }
  }


.weekend,
.portraits {

  .entry__header {
    margin-top: 0;
  }
  .entry__content {
    margin-bottom: $base_line_height;
  }
}




@import "home";
@import "single";
@import "presse";
@import "event";
@import "portrait";

