/* 
 * Links
 * 
 * @package sasskit
 */



a {
  color: inherit;
  text-decoration: none;

  @include transition(all, 0.2s);

  &:hover {
    cursor: pointer;
  }
}
  .a--inline {
    @include type-setting(0);
    display: inline-block;
    font-weight: $medium;
    color: $black;
  }


a:hover,
a:focus,
a:active {
  color: inherit;
}


.page__content {

  a {
    border-bottom: 1px dotted $color_primary;

    &:hover {
      padding-left: 2px;
    }
  }
}