




.mobile_nav {

  @include at-least(medium) {
    display: none;
  }
}
  .mobile_nav__trigger {
    @include type-setting(2);
    text-transform: uppercase;
    padding: 1em;

    .arrow--little--black {
      margin-right: $base_line_half / 2;
    }
  }
  .mobile_nav__socials {

  }


.main-navigation {
  @include box-sizing();
  position: relative;

  float: right;
  width: 75%;
  
  @include up-to(medium) {
    display: none;
    background-color: $gray_darker;
    clear: both;
    padding: 6rem 6rem 48rem 6rem;
    width: 115%;
    margin-left: -8%;
    top: -1px;
  }
}
.menu-menu-principal-container {

}
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
    .main-navigation .menu > li {
      //@extend .m-5col;
      //@extend .m-last;
      @include type-setting(1);

      text-align: right;
      float: right;
      color: $color_primary;
      text-transform: uppercase;
      margin: 10px 0;
      

      @include at-least(medium) {
        &:not(:first-child) {
          border-right: 1px solid $color_primary;
          margin-right: 15px;
          padding-right: 15px; 
        }        
      }

      @include up-to(medium) {
        @include type-setting(2);
        padding: 1em;
        border: none;
        border-top: 1px solid $gray_dark;
        color: $white;
        clear: both;
      }

    }
      .main-navigation a {
        color: inherit;

        &:hover {
        }
      }

        .main-nav__socials {
          @include up-to(medium) {
            display: none;
          }
        }

.main-navigation .menu-item-has-children {

  .sub-menu {
    display: none;

    & > li {
      padding-top: 10px;
    }

    @include up-to(medium) {
      display: block;
      
      li {
        @include type-setting(0);

        font-weight: $light;
      }
    }
  } 

  &:hover {
    .sub-menu {
      display: block;      
    }
  }
}

.main-navigation .current-page-item a,
.main-navigation .current-menu-item a,
.main-navigation .current-page-ancestor .current-page-ancestor a {
  border-bottom: 1px solid $color_primary;
}




// MENU FOOTER 

.footer__main__menu {

  ul {
    @extend .no-bullets;
  }

  li {
    background-color: $gray_dark;
    height: ($base_line_height * 1.5) - 4;
    line-height: ($base_line_height * 1.5) - 4;
    padding-left: $base_line_half / 2;
    text-transform: uppercase;
    margin-right: 4px;
    margin-bottom: 4px;

  }
}



// MENU MOBILE
.navigation-trigger {
  @include box-sizing();
  width: 100%;
  float: left;
  padding: 0;
  border-bottom: 10px solid #aaa;
  padding: 5px 0;

  @include at-least(medium){
    display: none;
  }
}
  #trigger-out {
    display: none;
    position: absolute;
    right: 11px;
    top: 11px;

    &:hover {
      cursor: pointer;
    }
    @include up-to(medium) {
      display: block;
    }
  }

/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT
  
----------------------------------------------------------------------------- */

// vars

$button-width: 100%;                    // The width of the button area
$button-height: 100%;                   // The height of the button area
$bar-thickness: 2px;                    // The thickness of the button bars
$button-pad: 20%;                       // The left/right padding between button area and bars.
$button-bar-space: 4%;                 // The spacing between button bars
$button-transistion-duration: 0.1s;     // The transition duration

/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 47%;
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: rgb(255,255,255);
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}


/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */

.c-hamburger--htx {
  background-color: $gray_darker;
}

.c-hamburger--htx span {
  transition: background 0s $button-transistion-duration;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: $button-transistion-duration, $button-transistion-duration;
  transition-delay: $button-transistion-duration, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.c-hamburger--htx.is-active {
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, $button-transistion-duration;
}
