

.main-navigation {
  @include box-sizing();
  position: relative;
  
  @include up-to(medium) {
  }
}
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
    .main-navigation li {
      @extend .l-3col;
      @include type-setting(0);

      text-align: center;
      border-left: 1px solid $color_primary;
      color: $color_primary;


      @include up-to(medium) {
      }

    }
      .main-navigation a {
        color: inherit;

        &:hover {
        }
      }


.main-navigation ul ul {

  @include up-to(medium) {
  }
}

  .main-navigation ul ul li {
  
    @include up-to(medium) {
      padding-left: 0;
    }   
  }

.main-navigation .current-page-item a,
.main-navigation .current-menu-item a,
.main-navigation .current-page-ancestor .current-page-ancestor a {
  color: $color_link_hover;
}
.current-page-ancestor,
.current-menu-ancestor {
  .sub-menu { display: block; }
}




// MENU FOOTER 

.footer__main__menu {

  ul {
    @extend .no-bullets;
  }

  li {
    background-color: $gray;
    height: ($base_line_height * 1.5) - 4;
    line-height: ($base_line_height * 1.5) - 4;
    padding-left: $base_line_half;

    margin-right: 4px;
    margin-bottom: 4px;

  }
}



// MENU MOBILE
.navigation-trigger {
  @include box-sizing();
  width: 100%;
  float: left;
  padding: 0;
  border-bottom: 10px solid #aaa;
  padding: 5px 0;

  @include at-least(medium){
    display: none;
  }
}
  #trigger-out {
    display: none;
    position: absolute;
    right: 11px;
    top: 11px;

    &:hover {
      cursor: pointer;
    }
    @include up-to(medium) {
      display: block;
    }
  }


