


.gallery {
  display: table;
  max-width: 100%;
}

  .gallery-item {
    display: table-cell;
    vertical-align: middle;
    padding: 0 $base_line_height / 2;

    @include up-to(medium) {
      display: inline-block;
      float: left;
      margin-bottom: $base_line_height / 2;
    }
  }

    .portrait {

      img {
        max-height: 125px;
        width: auto;
      }
    }


    .landscape {

      img {
        max-width: 125px;
        height: auto;
      }
    }    