/* 
 * Medias
 * 
 * @package sasskit
 */



figure {
  max-width: 100%;
}

img {
  @include box-sizing;
  max-width: 100%;
  height: auto;
}

.bg--img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@import "gallery";
@import "caption";

