/* 
 * Medias
 * 
 * @package sasskit
 */

img {
  @include box-sizing;
  max-width: 100%;
  height: auto;
}


.bg--img {
  background-position: center center;
  background-size: cover;
}

@import "gallery";
@import "caption";

