// ==========================================================================
// $FONT-FACE
// ==========================================================================

@font-face {
    font-family: 'din';
    src: url('fonts/dinbek_light-webfont.woff2') format('woff2'),
         url('fonts/dinbek_light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('fonts/dinbek_medium-webfont.woff2') format('woff2'),
         url('fonts/dinbek_medium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('fonts/dinbek_bold-webfont.woff2') format('woff2'),
         url('fonts/dinbek_bold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

