// ==========================================================================
// $FONT-FACE
// ==========================================================================

@font-face {
    font-family: 'din';
    src: url('fonts/dinbek_light-webfont.woff2') format('woff2'),
         url('fonts/dinbek_light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('fonts/dinbek_medium-webfont.woff2') format('woff2'),
         url('fonts/dinbek_medium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('fonts/dinbek_bold-webfont.woff2') format('woff2'),
         url('fonts/dinbek_bold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vmw7n8');
  src:  url('fonts/icomoon.eot?vmw7n8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vmw7n8') format('truetype'),
    url('fonts/icomoon.woff?vmw7n8') format('woff'),
    url('fonts/icomoon.svg?vmw7n8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\69";
}
.icon-search:before {
  content: "\73";
}
.icon-twitter:before {
  content: "\74";
}
.icon-facebook:before {
  content: "\66";
}
.icon-fleche_H:before {
  content: "\31";
}
.icon-fleche_HD:before {
  content: "\32";
}
.icon-fleche_D:before {
  content: "\33";
}
.icon-fleche_BD:before {
  content: "\34";
}
.icon-fleche_B:before {
  content: "\35";
}
.icon-fleche_BG:before {
  content: "\36";
}
.icon-fleche_G:before {
  content: "\37";
}
.icon-fleche_HG:before {
  content: "\38";
}
.icon-close:before {
  content: "\63";
}
.icon-mail:before {
  content: "\6d";
}
.icon-download .path1:before {
  content: "\64";
  color: rgb(0, 0, 0);
}
.icon-download .path2:before {
  content: "\65";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-google-map:before {
  content: "\67";
}
.icon-header-mobile-menu:before {
  content: "\68";
}