/*
 * Typography
 *
 * @package sasskit
 */



// Not needed
@import "fonts";



// Base Sizes
// ==========

$base_font_size               : 14px !default;

$base_line_half               : 18px;
$base_line_height             : 28px !default;


$type-scale: (
  -1: 1.2rem,
  0: 1.4rem, 
  1: 1.6rem, 
  2: 2rem, 
  3: 2.4rem 
);

$line-heights: (
  -1: $base_line_height,
  0: $base_line_half, 
  1: $base_line_height, 
  2: $base_line_height,
  3: $base_line_height
);


@function type-scale($level) {
  @return map-get($type-scale, $level);
}

@function line-height($level) {
  @return map-get($line-heights, $level);
}

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  line-height: line-height($level);
}

@mixin fontsize($size: $base_font_size) {
  font-size: #{$size}px;
  font-size: ( get_rem($size) )rem;
}



/*
 * TYPOGRAPHY VARIABLES SETTINGS
 */

// Google Font Families
$din                            : 'din';

// Default Fonts
$font_family_sans               : Arial, Helvetica, sans-serif !default;
$font_family_serif              : Georgia, Times New Roman, serif !default;
$font_family_mono               : Menlo, Consolas, monospace !default;

// Typo Attributions
$font_family_paragraph          : $din, $font_family_sans;
$font_family_title              : $din, $font_family_sans;
$font_family_nav                : $din, $font_family_sans;
$font_family_alt                : $din, $font_family_sans;
$font_family_quote              : $din, $font_family_sans;
$font_family_meta               : $din, $font_family_sans;

// Set weights
$bold                : 900;
$medium              : 400;
$light               : 100;


/*
 * Imports typo parts
 */
@import "copy";
@import "heading";


/*
 * FOR RESPONSIVE FONT SIZE. 
 * Adjust as you need.
 */

body {
  font-family: $din;
  @include type-setting(0);
}

html {
  @include up-to(medium) {
    font-size: 57.5%;
  }
  @include at-least(medium) {
    font-size: 60%;
  }
  @include at-least(large) {
    font-size: 62.5%;
  }
  @include at-least(wide) {
    font-size: 65%;
  }
}


