
$button_bg_color									: $color_primary;
$button_border_color							: $color_primary;


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include type-setting(0);
	width: 100%;
	height: ($base_line_height * 1.5) - 4;
  margin-bottom: 4px;
	border: none;
	background: none;
	background-color: $black;
	color: $white;
	line-height: ($base_line_height * 1.5) - 4;
	padding: 0;

	&:hover {
		border-color: $button_border_color;
	}

	&:active,
	&:focus {
		border-color: $button_border_color;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}