/* 
 * Colors
 * 
 * @package sasskit
 */



// Color Scheme
// examples based on the official Sass styleguide
// =============

// Descriptive colors (example)
$blue                         : rgb(40, 53, 131);
$red                          : rgb(219, 8, 25);
$green                        : rgb(63, 165, 53);

// Grey nuances
$black                        : #000 !default;
$gray_darker                  : rgb(40, 40, 40) !default;
$gray_dark                    : rgb(100, 100, 100) !default;
$gray                         : rgb(165, 165, 165) !default;
$gray_light                   : rgb(210, 210, 210) !default;
$gray_lighter                 : rgb(245, 245, 245) !default;
$white                        : #fff !default;

// Main color palette
$color_primary                : $blue;
$color_secondary              : $red;
$color_tertiary               : $green;

// Common colors
$color_background             : $white;
$color_text                   : $gray_darker;
$color_text_weak              : $gray_light;
$color_text_strong            : $black;

// Links
$color_link                   : $color_primary;
$color_link_hover             : $color_primary;
$color_link_visited           : $color_primary;

// Code
$color_code                   : #333;
$color_code_background        : #f3f3f3;
$color_pre                    : #d4d4d4;
$color_pre_background         : #333;

// Selections
$color_selection              : #b3d4fc;

// Messages
$color_message                : #f4ecbb;
$color_success                : #2cde2c;
$color_warning                : #cf8600;
$color_important              : #d00;
$color_notice                 : #66b;




